.container {
	border: 1px solid lightGray;
	padding: 2% 2%;
	border-radius: 10px;
	margin: 10px auto;
	background: white;
	max-width: 1900px;
	max-width: 90vw;
	text-align: center;
}
#text {
	width: 90%;
	min-height: 25em;
	margin-top: 1em;
	max-width: 95%;
}
#competenceContainer {
	margin: 0 auto;
	text-align: left;
	display: grid;
	grid-template-columns: auto auto auto auto;
	max-width: min(80em, 90vw);
}
.competence-label {
	display: inline-block;
	white-space: nowrap;
}
.competence-select,
.competence-option {
	max-width: 35em;
}
.level-select,
.level-option {
	max-width: 25em;
}
.add-button {
	width: 3em;
}
